.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
}

.valueInput {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid var(--orange-400);
  resize: none;
  outline: none;
}

.buttonSend {
  width: fit-content;
  display: flex;
  gap: 1rem;

  background-color: var(--orange-400);
  padding: 1rem;
  border-radius: 10px;
  
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.buttonSend:hover{
  background-color: var(--orange-300);
  transition: all .3s ease-in-out;
}

.error{
  color: var(--danger);
  padding: .5rem 0;
}