.container {
  width: 80%;
  margin: auto;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.h1 {
  font-size: 1.2rem;
  text-align: center;
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
}

.containerAboutMe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutMeP {
  font-size: 1rem;
  line-height: 1.5rem;
}
.containerContact {
  display: flex;
  flex-direction: column;
}

.contact {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  padding: 0.8rem;
  margin: 0.8rme;
  background-color: var(--primary);
  border-radius: 10px;
}

.redes {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.containerImage {
  padding: 1rem 0;
}

.image {
  max-width: 250px;
  max-height: 250px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--secondary);
}

@media (min-width: 640px) {

}
