:root {
  --primary: #ffc107;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
