.containerContact {
  width: 80%;
  margin: auto;
  background-color: var(--orange-400);
  border: 1px solid var(--orange-500);
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 2rem;
}


.contactForm{
  display: flex;
  padding: 1rem;
  background-color: var(--light);
  border-radius: 5px;
}