.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

/*   background: rgb(235, 234, 144);
  background: linear-gradient(
    90deg,
    rgba(235, 234, 144, 1) 0%,
    rgba(245, 242, 12, 1) 100%
  ); */

  padding: 0.2rem 1rem;
}

.h2 {
  font-size: large;
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* z-index: 10; */
}

.modalBackdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  list-style: none;
  background-color: yellow;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalBackdrop.showModal {
  opacity: 1;
  transform: translateY(0);
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(143, 134, 134, 1);
  cursor: pointer;
  padding: 1rem;
}

.modalContent:hover {
  background-color: rgb(221, 227, 106);
  transition: all 0.3s ease-in-out;
}

.modalContent:hover a {
  color: white;
}

.modalContent a {
  text-decoration: none;
}

@media (min-width: 640px) {
  .container {
    display: none;
  }
}
