.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0.2rem 1rem;
}
.h1 {
  font-size: large;
}
.img {
  width: 40px;
  height: 40px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: yellow;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

@media (min-width: 640px) {
  .container {
    display: none;
  }
}
