/* NavMobile.module.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0.2rem 1rem;
  position: sticky;
  top: 0;

  background-color: var(--light);
  box-shadow: inset;
  padding: 0.5rem;
}

.h2 {
  font-size: large;
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

.modalBackdrop {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  overflow: hidden;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  background-color: var(--orange-300);
  transform: translate(-150px, -150px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

.modalBackdrop.showModal {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(143, 134, 134, 1);
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.modalContent:hover {
  background-color: var(--orange-500);
}

.modalContent:hover a {
  font-weight: bold;
  /* font-size: 1.2rem; */
}

.modalContent a {
  text-decoration: none;
}

.box1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
  background-color: var(--orange-200);
  transform: rotate(45deg);
}

.box2 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  right: -100px;
  background-color: var(--orange-200);
  transform: rotate(45deg);
}

@media (min-width: 640px) {
  .container {
    display: none;
  }
}
